@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&display=swap');

* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    font-family: 'Nunito',sans-serif;
    color: rgb(92, 66, 66);
    font-weight: 900;
}
.header {
    width: 90vw;
    height: 70px;
    background-color: rgb(27, 25, 58);
    display: flex;
    margin: 0;
    box-shadow: 2px 2px 15px black;
}

.main {
    overflow: hidden;
    align-items: center;
    width: 90vw;
    height: 175vh;
    border: 1px solid black;
    background-color: white;
    border-top: 0;
    border-bottom: 0;
    box-shadow: 2px 2px 15px black;
    background-size: cover;
    background-image: url(tree.jpg);
}


.home {
    font-size: 30px;
    text-align: center;
    width: 10%;
    padding-top: 10px;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

.home:active {
    background-color:rgb(59, 54, 119);
}

.info{
    font-size: 30px;
    text-align: center;
}

.beginning {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.tree {
    margin: 2px;
    height: 70px;
    width: 4%;
    background-size: cover;
    background-image: url(tree.jpg);
    margin-right: 10px;
}

.hyperlink {
    text-decoration: none;
    color: white;
}

.footer {
    width: 90vw;
    height: 70px;
    background-color: rgb(27, 25, 58);
    display: flex;
    margin: 0;
    display: flex;
    box-shadow: 2px 2px 15px black;
    color: white;
}